
@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

@using (Html.BeginForm())
{
    <fieldset>



        <div>
            <label>Start Date</label>
            @Html.TextBox("StartDate")
        </div>

        <div>
            <label>End Date</label>
            @Html.TextBox("EndDate")
        </div>



        <input type="submit" value="Check" />

    </fieldset>
}
<div>Всего продаж @ViewBag.Count</div>
<div>Общая стоимость @ViewBag.Result</div>

<p></p>

@using (Html.BeginForm())
{

    <div>
        <label>Введите имя пользователя </label>
        @Html.TextBox("y")
    </div>
    <input type="submit" value="Запросить статистику" />

}

@foreach (var item in ViewBag.Query)
{
    <p>@item</p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

