@model IEnumerable<MVC_Fund6_2.Models.Order>
@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

@using (Html.BeginForm())
{

    <div>
        <label>Введите имя пользователя </label>
        @Html.TextBox("y")
    </div>
    <input type="submit" value="Запросить статистику" />

}
<div>ХЗ что @ViewBag.Query</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>

        </tr>
    }

</table>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

