@model IEnumerable<MVC_Fund6_2.Models.Order>
@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

@using (Html.BeginForm())
{
    <fieldset>



        <div>
            <label>Start Date</label>
            @Html.TextBox("StartDate")
        </div>

        <div>
            <label>End Date</label>
            @Html.TextBox("EndDate")
        </div>



        <input type="submit" value="Check" />

    </fieldset>
}
<div>Всего продаж @ViewBag.Count</div>
<div>Общая стоимость @ViewBag.Result</div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

