<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>

</head>
<body>
    <div>
        @Html.ActionLink("Home", "Home") | @Html.ActionLink("About", "About") | @Html.ActionLink("Products", "Products") | @Html.ActionLink("Services", "Services")
    </div>
    <br />
    <br />
    @RenderSection("Body")
    @RenderSection(name: "Footer", required: false)
</body>
</html>
