@model IEnumerable<MVC_Fund3_2.Models.Product>
<table border="1">
    <tr>
        <th>
            #
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            CreatedDate
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.Id
        </td>
        <td>
            @item.Name
        </td>
        <td>
            $ @item.Price
        </td>
        <td>
             @item.CreatedDate
        </td>
    </tr>
    }

</table>

<div>
    @foreach (var item in Model)
    {
    <ul>
        <li># @item.Id</li>
        <li>Name: @item.Name</li>
        <li>Price: $ @item.Price $</li>
        <li>Price: @item.CreatedDate $</li>
    </ul>
    }
</div>
